<!DOCTYPE html>
<html lang="en">
<head>
    <title>Snehalayam</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- ElegantFonts CSS -->
    <link rel="stylesheet" href="css/elegant-fonts.css">

    <!-- themify-icons CSS -->
    <link rel="stylesheet" href="css/themify-icons.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="css/swiper.min.css">

    <!-- Styles -->
    <link rel="stylesheet" href="style.css">
</head>
<body class="single-page about-page">
<header class="site-header">
    <div class="top-header-bar">
        <div class="container">
               <marquee><h5>NITIAYOG UNIQUE ID KL/2020/0252604 || 12AA REG NO CIT KOCHI/10490 || 80G REG NO CIT KOCHI/Q/10076 || PAN NO AAWTS8773L || SNEHALAYAM TRUST KOTTAYAM, TVPM, PALAKKAD, PTA</h5></marquee>
            <div class="row flex-wrap justify-content-center justify-content-lg-between align-items-lg-center">
               <!-- <div class="col-12 col-lg-8 d-none d-md-flex flex-wrap justify-content-center justify-content-lg-start mb-3 mb-lg-0">
                    <div class="header-bar-email">

                    </div>
                    --> <!-- .header-bar-email -->

                   <!-- <div class="header-bar-text">

                    </div>--><!-- .header-bar-text -->
               <!-- </div>--><!-- .col -->

               <div class="col-12 col-lg-11 d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
                       <div class="donate-btn">
                            <a href="terms.php">Signup</a>
                        </div><!-- .donate-btn -->

                        <div class="donate-btn">
                            <a href="donate.html">Donate Now</a>
                        </div><!-- .donate-btn -->

                    </div><!-- .col -->
					<div class="col-12 col-lg-1 d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
                        <div class="donate-btn">
                            <a href="login.html">Login</a>
                        </div><!-- .donate-btn -->

                    </div>

            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .top-header-bar -->


        <div class="nav-bar">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                        <div class="site-branding d-flex align-items-center">
                           <a class="d-block" href="index1.html" rel="home"><img class="d-block" src="images/logo2.jpg" alt="logo" width="100px" height="100px"></a>
                        </div><!-- .site-branding -->

                        <nav class="site-navigation d-flex justify-content-end align-items-center">
                            <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                                <li class="current-menu-item"><a href="index.html">Home</a></li>

                                <li><a href="about.html">About us</a></li>
                                <li><a href="objectives.html">Objectives</a></li>
                                <li><a href="mission.html">Mission</a></li>
								<li><a href="gallery.php">Gallery</a></li>
                                <li><a href="funds.html">Funds</a></li>
								<li><a href="workforce.html">Search SocialWorker</a></li>
									<li><a href="legal.html">Legality</a></li>
								<!--<li><a href="terms.php">Sign Up</a></li>

                               <li><form action="#" method="get" class="sidebar-form"></form>

                            </ul>
                        </nav><!-- .site-navigation -->

                        <!-- .hamburger-menu -->

                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .nav-bar -->
    </header><!-- .site-header -->

    <div class="swiper-container hero-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide hero-content-wrap">
                <img src="images/snehalayam.jpg" alt="img" height="585px" width="1349px">


            </div><!-- .hero-content-wrap -->




        </div><!-- .swiper-wrapper -->



    </div><!-- .hero-slider -->

    <div class="home-page-icon-boxes">
        <div class="container">
            <div class="row">


                <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
                    <div class="icon-box active">
                        <figure class="d-flex justify-content-center">
                            <img src="images/hands-gray.png" alt="">
                            <img src="images/hands-white.png" alt="">
                        </figure>

                        <header class="entry-header">
                           <!-- <h3 class="entry-title">Become a Volunteer</h3>-->
                        </header>

                        <div class="entry-content"  align="left" >



                        <h2>Useful Links</h2>



                           <a href="donate.html" style="color:black">Become  a Volunteer</a><br>
                            <a href="donate.html" style="color:black">Donate</a><br>
                             <a href="legal.html" style="color:black">Legality</a><br>
                              <a href="gallery.html" style="color:black">Gallery</a><br>
                            <a href="objectives.html" style="color:black">Objectives</a><br>
                                <a href="mission.html" style="color:black">Mission</a><br>
                                <a href="funds.html" style="color:black">Funds</a><br>
							<a href="workforce.html" style="color:black">Workforce</a><br>



						</div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
                    <div class="icon-box">
                        <figure class="d-flex justify-content-center">
                            <img src="images/donation-gray.png" alt="">
                            <img src="images/donation-white.png" alt="">
                        </figure>

                        <header class="entry-header">
                            <h3 class="entry-title">Become a Donor</h3>
                        </header>

                        <div class="entry-content">
                            <p>You have not lived today until you have done something for someone who can never repay you.” “While we do our good works let us not forget that the real solution lies in a world in which charity will have become unnecessary.” “When I give food to the poor, they call me a saint. </p>
                        </div>
                    </div>
                </div>

                 <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
                    <div class="icon-box">
                        <figure class="d-flex justify-content-center">
                            <img src="images/donation-gray.png" alt="">
                            <img src="images/donation-white.png" alt="">
                        </figure>

                        <header class="entry-header">
                            <h3 class="entry-title">Verify Social Worker</h3>
                        </header><br>

                        <form action="usersearch.php" method="post">
						<input type="text" name="q" placeholder="Enter ID....">
						<br><br>
						<input type="submit" name="submit" value="submit">
						</form>
						<br><br><br><br><br>
                    </div>
                </div>
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .home-page-icon-boxes -->

<style>
    .google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
</style>
<div class="swiper-slide hero-content-wrap">
               <div class="google-maps">

	<script type="text/javascript" src="js/bootstrap.min.js"></script>
<!--	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.315441017535!2d76.2837233147941!3d9.99078099285749!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080d439c0ad065%3A0x240346a402e62086!2sAudrey+Technologies!5e0!3m2!1sen!2sin!4v1555411347783!5m2!1sen!2sin" height="940" width="1550" frameborder="0" style="border:0" allowfullscreen></iframe>-->


	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7868.974488855363!2d76.6752485!3d9.5531987!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b0631401237a6c1%3A0x7ac0659521b6dde9!2sSnehalayam%20Educational%20And%20Charitable%20Trust!5e0!3m2!1sen!2sin!4v1575350945321!5m2!1sen!2sin" width="1550" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>



	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArLNT3t4qsJEBmR0R9P_6ueLIQz0Jvt1M&callback=initMap" async defer></script>
    <script type="text/javascript">
		/* ---- Google Maps ---- */
        function initMap() {
            var mapOptions = {
                zoom: 15,
				zoomControl: false,
				scaleControl: false,
				scrollwheel: false,
				disableDoubleClickZoom: true,
                center: new google.maps.LatLng(40.6700, -73.9400), // New York
                styles: [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}]
            };
            var mapElement = document.getElementById('map');
            var map = new google.maps.Map(mapElement, mapOptions);
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(40.6700, -73.9400),
                map: map,
                title: 'Our Office!'
            });
        }

    </script>
	</div>


            </div>


	<div class="home-page-welcome">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 order-2 order-lg-1">
                    <div class="welcome-content">
                        <header class="entry-header">
                            <h2 class="entry-title"><p>Welcome to our Charity</p></h2>
                        </header><!-- .entry-header -->

                        <div class="entry-content mt-5">
                            <p> Snehalayam is an Educational and Charitable trust registered in Kottayam by a group of individuals from various versatile fields like Education , Business , Marketing and Social services fields etc.
The trust is being managed through three trusties and by Mr.Mohandas Chairman of the trust. Besides the trust is ably guided by a strong managing committee comprising of seven personalities emerging from different fields.
</p>
                        </div><!-- .entry-content -->

                        <div class="entry-footer mt-5">
                            <a href="about.html" class="btn gradient-bg mr-2">Read More</a>
                        </div><!-- .entry-footer -->
                    </div><!-- .welcome-content -->
                </div><!-- .col -->

                <div class="col-12 col-lg-6 mt-4 order-1 order-lg-2">
                    <img src="images/3.jpg" alt="welcome" height="370px" width="870px">
                </div>
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .home-page-icon-boxes -->


?>